<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

        <script>
            var socket = io.connect();
            console.log( socket );
            // on : 통신을 받는다. 수신
            // emit : 통신을 보낸다. 송신
            function go(){
                socket.emit( "a", document.getElementById( "abc" ).value );
            }

            socket.on( "send", function( data ){
                alert( data );
            });
            // socket.emit( "event", { name: "홍길동" } );
        </script>
    </head>
    <body>
        <h1> Socket View 파일입니다. </h1>

        <input type="text" id="abc">
        <button type="button" onclick="go();">버튼</button>
    </body>
</html>