<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
{% csrf_token %}
  <input type="text" id="id">
  <input type="text" id="pw">
  <button onclick="ajax();" >전송</button>
  <div id="my_div"></div>

<script>
  function ajax(){
    $.post(
    "ajax", // 'ajax'라는 경로로 post함
    { id_: $("#id").val(), pw_: $("#pw").val(), // id_에 #id의 value를, pw_에 #pw의 value를 넣는다.
    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value}, // 보안토큰의 value
    function (hello){ // hello라는 인자를 가진 함수를 동작
      $('#my_div').html(hello); // my_div 라는 아이디가 있는 html에 parameter로 받은 id_와 pw_의 값을 넣는다.
    }
  );
  }
</script>
</body>
</html>


