@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
* {
  font-family: 'Gowun Dodum', sans-serif;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.logoFont {
  padding: 0;
  font-size: 50px;
  font-weight: bolder;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#signUP {
  color: white;
  text-decoration: none;
}
#id_div, #pw_div {
  color: red;
}
.btnSize {
  width: 10vw;
}
.signBtnSize {
  width: 35vw;
}
.inputSize {
  width: 400px;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #74A674;
}