{% extends 'base.html' %}
{% block menubar %}
<div class="col-2">
  <div><a href="{% url 'logout' %}" class="d-none" id="logOut" style="background-color: rgb(72, 167, 111);">로그아웃</a></div>
  <div><a href="{% url 'mypage' %}" class="d-none" id="mypage" style="background-color: rgb(41, 74, 219);">마이페이지</a></div>
</div>
{% endblock %}
{% block content %}
<h1>{{infoUser.userid}} 님의 마이 페이지 입니다.</h1>

  <div>이름 : {{infoUser.userid}}</div>
  <div>아이디 : {{infoUser.username}}</div>
  <div>성별 : {{infoUser.gender}}</div>
  <div>이메일 : {{infoUser.useremail}}</div>
  <div>주소 : {{infoUser.useraddress}}</div>
  <div>가입날짜 : {{infoUser.registerTime}}</div>
  <button class="bg-light"><a href="{% url 'pwChange' %}" class="mypage_">비밀번호 변경하기</a></button>
  <button class="bg-light"><a href="{% url 'withdrawal' %}" class="mypage_">믿기 어려운 회원탈퇴 하러가기 ㅠㅠ</a></button>

{% if mypage %}
<script>
  $('#logOut').removeClass('d-none')
  $('#mypage').removeClass('d-none')
</script>
{% endif %}
{% if messages %}
  {% for message in messages %}
  <script>
    alert('{{message.message}}')
  </script>
  {% endfor %}
{% endif %}
{% endblock %}