{% extends 'base.html' %}
{% block content %}
<form action="pwComplete" method="POST">
{% csrf_token %}
<h1>비밀번호 변경 페이지 입니다.</h1>

  <label for="now_pw">현재 아이디</label>
  <input type="text" id="now_id" name="id">

  <label for="now_pw">현재 비밀번호</label>
  <input type="password" id="now_pw" name="pw">

  <label for="pw_update">새로운 비밀번호 입력</label>
  <input type="password" id="pw_update" name="new_pw">

  <button type="submit">변경하기</button>
</form>
{% for message in messages %}
<script>
  alert('{{message.message}}')
</script>
{% endfor %}
{% endblock %}